{% extends 'mainapp/base.html' %}

{% block content %}

	<h3>Чат: {{chat}}<br>id: {{chat.id}}<br>Категория: <a href="{% url 'category' chat.category %}">{{category}}</a></h3>
	<hr>

	{% if messeges %}

		<table class="table table-bordered table-striped" style="margin-bottom: 50px;">
		  <thead>
		    <tr>
		      <th style="width: 100px;">Автор</th>
		      <th style="width: 100px;">Отправлено</th>
		      <th>Сообщение</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for m in messeges %}
			    <tr>
			      <td>{{m.author}}</td>
			      <td>{{m.date}}</td>
			      <td>
			      	{% if m.file %}
			      		{% if m.get_file_format == 'image' %}
			      			<img src="{{m.file.url}}" style="max-width: 100%;">
			      		{% elif m.get_file_format == 'audio' %}
			      		  <audio controls style="width: 100%">
						    <source src="{{m.file.url}}" type="audio/mpeg">
						    Тег audio не поддерживается вашим браузером. 
						    <a href="{{m.file.url}}">Скачайте музыку</a>.
						  </audio>
			      		{% elif m.get_file_format == 'video' %}
			      		  <video style="max-width: 100%;" controls="controls">
						    <source src="{{m.file.url}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
						    Тег video не поддерживается вашим браузером. 
						    <a href="{{m.file.url}}">Скачайте видео</a>.
						  </video>
			      		{% else %}
			      			<a href="{{m.file.url}}" download="">
								<button class="btn btn-primary">Ссылка на скачивание файла</button>
							</a>
			      		{% endif %}
			      		<br>
			      	{% endif %}
			      	{{m}}
			      </td>
			    </tr>
		    {% endfor %}
		  </tbody>
		</table><hr>

	{% else %}
		<h3>Сообщения не найдены, станьте первым!</h3><br>
	{% endif %}

	<form action="{% url 'send_messege' chat.id %}" method="POST" enctype="multipart/form-data" style="padding-bottom: 50px;">
	  {% csrf_token %}
	  <div class="form-group">
	    <input type="text" required="" class="form-control" placeholder="Ник" name="author">

	    <textarea name="text" required="" class="form-control" rows="1" placeholder="Введите ваше сообщение"></textarea>
	  </div>

	  <button type="submit" class="btn btn-primary">Отправить</button><br><br>
	  <label>Файл(необязательно):</label>  <input type="file" name="file">
	</form>

{% endblock %}