{% extends 'mainapp/base.html' %}

{% block title %}Создание нового чата{% endblock %}

{% block content %}

<h2>Создание чата</h2><br>

<form action="{% url 'create_newchat' %}" method="POST" style="padding-bottom: 50px;">
  {% csrf_token %}
  <div class="form-group">
    <label>Введите название чата</label>
    <input type="text" required="" name="name" class="form-control" placeholder="Название чата">
    <br>

    <div class="form-check">
	  <input class="form-check-input position-static" type="checkbox" name="private" id="blankRadio1" value="true" aria-label="...">
	  <label>Приватный чат</label>
	</div><br>

	<div class="form-group">
      <label for="exampleFormControlSelect1">Выберите категорию чата</label>
      <select class="form-control" id="exampleFormControlSelect1" name="category">
        {% for cat in categories %}
          <option>{{cat}}</option>
        {% endfor %}
      </select>
    </div><br>

	
    
  </div>
  <button type="submit" class="btn btn-primary">Создать</button>
</form>

{% endblock %}